body{
  font-family: 'Oswald', sans-serif;
}

.app{
  height: 100%;
  width: 100%;
}

.headers-font-ubuntu {
  font-family: 'Ubuntu Condensed', sans-serif;
}

.block-text-font-oswald {
  font-family: 'Oswald', sans-serif;
}

.header{
  background-color: #2a9d8f;
  height:10vh;
  text-align: center;
  font-size: 3rem;
  color:white;
  text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
}

.main{
height:80vh;
}

.footer{
  height: 10vh;
  background-color:white;
  position: absolute;
  bottom: 0;
  border-top: 1.5px solid #cccccc;
}

.favorites-hidden {
  position: absolute;
  right: 3%;
  bottom: 11%;
  border-radius: 10%;
  background-color: #2a9d8f;
  opacity: 90%;
  padding: 1%;
}

.favorites-show {
  position: absolute;
  right: 3%;
  bottom: 11%;
  background-color: #2692859e;
  opacity: 90%;
}

.favorites-icons{
  border-radius: 20%;
  background-color: transparent;
  border: 4px solid white;
  background: white;
  opacity: 90%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 5px 4px 5px rgba(0, 0, 0, 0.25);
}

.menu-icon{
  border-radius: 50%;
}

.navigation{
  height:90%;
  width:30%;
  border-radius: 20%;
  font-size: 0.5rem;
  background-color: transparent;
  border:4px solid white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 5px 4px 5px rgba(0, 0, 0, 0.25);
}

.outerSearchDiv .outerSettingsDiv{
height:10vh;
background-color: white;
text-align:center;
}

.searchArea{
  background-color: white;
  height: 10vh;
}

.searchBar{
  height:100%;
  border: 4px solid #36453B;
  border-radius:20px;
  box-sizing: border-box;
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
}

.menuDropDown{
  height:50%;
  width:100%;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.5rem;
  background-color:white;
  position: absolute;
  z-index: 1;
}

.settings{
  background-color: rgba(234, 234, 234, 0.92);
  height:75px;
}

.signOut{
background-color:white;
height:75px;
}

.eventDetails {
  position: absolute;
  top: 10%;
  max-height: 520px;
  overflow: hidden;
  z-index: 1;
  width:95%;
  background-color: white;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
}

.eventInfo{
 height:175px;
 width:100%;
 box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.25);
 border-radius: 10px;
 padding:0;
}


.details, .reviews{
  height:20%;
  width:100%;
  overflow: scroll;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  padding:10px;
}

.twoThirdsScreenSectionContainer {
  position: absolute;
  height: 250px;
  width:95%;
  bottom: 16%;
  background-color: white;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
}

.twoThirdsScreenTopBanner {
  height:60%;
  width:100%;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.25);
  padding:0;
}

.twoThirdsScreenBottomBanner {
  height:20%;
  width:100%;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  padding:10px;
}

.welcome-signin-createaccount-pages {
  height:70%;
  width:90%;
  border: 4px solid #000000;
  box-sizing: border-box;
  border-radius: 20px;
  overflow: scroll;
  position: absolute;
  top: 15%;
  margin: 5%;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.25);
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
}

.settings-page {
  height:75%;
  width:90%;
  border: 4px solid #000000;
  box-sizing: border-box;
  border-radius: 20px;
  overflow: scroll;
  position: absolute;
  top: 10%;
  margin: 5%;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.25);
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
}

.likedevents-page {
  top: 20%;
  height:45%;
}

.eventList{
  max-height:65%;
  width:90%;
  border: 4px solid #000000;
  box-sizing: border-box;
  border-radius: 20px;
  overflow: scroll;
  position: absolute;
  top: 10%;
  margin: 5%;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.25);
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
  background: white;
}

.eventListCard {
  border: 4px solid #2a9d8f;
  height: 125px;
  overflow: hidden;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.eventListItem {
  height: 100%;
  border-radius: 10px;
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
}

.eventListTitle{
  border-bottom: 2px solid black;
  margin: 0 auto;
  width: 70%;
  text-align: center;
  font-size: 2rem;
  line-height: 2.25rem;
}

.eventTitle{
  white-space: nowrap;
}

.eventLocation{
  bottom: 0;
}

.rating{
  height: 30px;
  width: 90px;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 3vh;
}

.liked-event-border {
  z-index: 1;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border: 2px solid #2a9d8f;
  border-radius: 10px;
  box-sizing: border-box;
}

.liked-event-heart {
  color: #2a9d8f;
  box-shadow: 2.5px 2.5px 2px rgba(0, 0, 0, 0.25);
  border: 1px solid #2a9d8f;
  border-radius: 10px;
  padding: 0.25em;
  float: right;
}

.liked-event-title {
  font-size: 2em;
  text-align: left;
  margin-left: 1rem;
  line-height: 2rem;
}

.liked-event-location {
  font-size: 1.2rem;
  text-align: left;
  margin-left: .5rem;
  line-height: 1.3rem;
}

.liked-events-list{
  position: absolute;
  top: 50%;
}

.hideElement {
  display: none;
}

.submit-button {
  background-color: #2a9d8f;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  border: none;
  padding: 0.5em;
  width: 100%;
}

.submit-button:hover {
  padding:1rem;
  opacity: 1;
}

.create-account-button {
  background-color: white;
  color: #2a9d8f;
  border: #2a9d8f;
  text-decoration: underline;
}

.skip-button {
  background-color: white;
  color: #2a9d8f;
  border: none;
}

.selected-day-schedule {
  background-color: #2a9d8f;
  color: white;
}

.settingsTitle {
  border-bottom: 2px solid black;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5rem;
}

.reviewList{
  overflow:scroll;
  border-radius: 20px;
  height: 30vh;
}

.reviewListItem{
  border: 2px solid #2a9d8f;
  /* height: 125px; */
  overflow: scroll;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: left;
}

.not-active-day{
  z-index: 1;
  background-color: #2a9d8f;
  color: white;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border: 2px solid #2a9d8f;
  border-radius: 10px;
  box-sizing: border-box;
}

.username-password-icons {
  padding: 0.75rem;
  width: 2rem;
  text-align: center;
  color: #2a9d8f;
}

.account-input-container {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
}

.account-input-field {
  width: 100%;
  padding: 0.25rem;
}

.account-input-field:focus {
  outline: none;
  padding: .5rem;
}

.form-control {
  border: none;
}

.errorMessage{
font-size: 1.75rem;
color:#2a9d8f;
}

.heart-div-button {
  border: none;
  background-color: white;
}
