.app{
  height: 100%;
  width: 100%;
}
/*
HEADERS FONT :
font-family: 'Ubuntu Condensed', sans-serif;
BLOCK-TEXT FONT:
font-family: 'Oswald', sans-serif;
*/


.header{
  font-family: 'Ubuntu Condensed', sans-serif;
  background-color: #2a9d8f;
  height:15vh;
  text-align: center;
  font-size: 10rem;
  color:white;
  text-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
}

.main{
height:60vh;
background: rgba(100, 97, 97, 0.25);
}

.footer{
  height: 15vh;
  background-color:white;
  padding:15px;
  position: absolute;
  bottom: 0;
}

.favorites-hidden {
  position: absolute;
  right: 5%;
  bottom: 16%;
  border-radius: 10%;
  background: rgba(255, 255, 255, 0.49);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.favorites-show {
  position: absolute;
  right: 5%;
  bottom: 16%;
  background: rgba(255, 255, 255, 0.49);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.favorites-icons{
  border-radius: 20%;
  background-color: transparent;
  border:4px solid white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 5px 4px 5px rgba(0, 0, 0, 0.25);
}

.navigation{
  height:90%;
  width:30%;
  border-radius: 20%;
  font-size: 0.5rem;
  background-color: transparent;
  border:4px solid white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 5px 4px 5px rgba(0, 0, 0, 0.25);
}

button:active{
  border:4px solid teal;
}

button:focus{
  border:4px solid teal;
  outline: none;
}
.outerSearchDiv{
height:10vh;
background-color: white;
text-align:center;
}
.searchArea{
  background-color: white;
}
.searchBar{
  height:90%;
  border: 2px solid #36453B;
  border-radius:20px;
  box-sizing: border-box;
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
}
.menuDropDown{
  height:50%;
  width:100%;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.5rem;
  background-color:white;

}
.settings{
  background-color: rgba(234, 234, 234, 0.92);
  height:75px;
}
.signOut{
background-color:white;
height:75px;
}

.eventDetails{
  height:50%;
  width:100%;
  background-color: white;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  box-sizing: border-box;
  margin-bottom: 0.5rem;
  text-align: center;
}

.eventInfo{
  height:60%;
  width:100%;
 box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.25);
 padding:0;

}
.details, .reviews{
  height:20%;
  width:100%;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  padding:10px;
}
